.css-work-finished-wrap {
  width: 100%;
  height: 100vh;
  background: var(--complementary-color-blue);
  caret-color: transparent;
  display: flex;
  justify-content: center;
}

.css-work-finished {
  width: 100%;
  height: 100%;
  margin: 0 15%;
}

.css-work-finished-tw {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-primary);
  border-top: none;
  background: var(--base-color-white-primary);
}

.css-work-finished-ttt {
  height: 100px;
  margin: 0 3rem;
  margin-top: 3rem;
  border: 1px solid var(--border-primary);
  color: var(--text-color-primary);
  border-radius: 4px;
  display: flex;
}

.css-work-finished-stw {
  width: 100%;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.css-work-finished-stm {
  color: var(--text-color-secondary);
}

.css-work-finished-sts {
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.css-work-finished-sha {
  color: var(--complementary-color-blue);
  display: flex;
  align-items: center;
}

.css-work-finished-shai {
  padding: 1rem;
  margin-right: 1rem;
  border: 1px solid var(--complementary-color-blue);
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}

.css-work-finished-sti {
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-soft-blue);
  display: flex;
}

.css-work-finished-sti span {
  margin-left: auto;
  font-weight: bold;
}

.css-work-finished-stt {
  font-size: var(--text-size-title);
  text-transform: uppercase;
  font-weight: bold;
}

.css-work-finished-sfw {
  width: 100%;
  display: flex;
}

.css-work-finished-std {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  text-align: start;
}

.css-work-finished-stx {
  font-size: var(--text-size-fifth);
}

.css-work-finished-sta {
  height: 100px;
  width: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: url("https://uploads-ssl.webflow.com/60d83e3c6cf84748f7d0a62b/6117f689ce4c7529d5850b8a_sundae.png");
  background-size: contain;
  box-shadow: var(--shadow-blue);
  border: 1px solid var(--border-primary);
}

.css-work-finished-sr {
  width: 300px;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
  font-size: var(--text-size-fifth);
  text-transform: uppercase;
  margin: 1rem 2rem;
  font-weight: bold;
  border: 1px solid var(--border-primary);
}
