.css-work-project-wrap {
  width: 331px;
  max-width: 331px;
  min-width: 331px;
  overflow-y: hidden;
  caret-color: transparent;
  box-shadow: inset -1px 0 0 var(--border-primary);
}

.css-work-project-title {
  font-weight: bold;
  color: var(--text-color-primary);
  font-size: var(--text-size-title);
  padding: 0 2rem;
  margin-top: 1rem;
}

.css-work-project-subtitle {
  font-weight: bold;
  color: var(--text-color-secondary);
  padding: 0 2rem;
  margin-top: 1rem;
  box-shadow: inset 0 -1px 0 var(--border-primary);
  display: flex;
}

.css-work-project-subtitle span {
  margin-left: 30px;
  margin-left: auto;
}

.css-work-project-avatar-wrap {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.css-work-project-avatar-img {
  height: 80px;
  width: 240px;
  background: var(--color-soft-blue);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.css-work-project-avatar-img span {
  font-size: var(--text-size-secondary);
  color: var(--complementary-color-blue);
  opacity: 0.5;
  z-index: -1;
}

.css-work-project-upl {
  opacity: 0.5;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border: 1px dashed var(--complementary-color-blue);
  border-radius: 4px;
}

.css-work-project-upl:hover {
  opacity: 0.7;
}

.css-work-project-upli{
  width: 200px;
  height: 80px;
  z-index: 15;
  cursor: pointer;
  position: relative;
  left: 5px;
  left: -80px;
  top: -60px;
  opacity: 0;
}

.css-work-project-legend {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.css-work-project-name {
  text-align: center;
  color: var(--text-color-primary);
}

.css-work-project-avatar-des {
  display: block;
  text-align: center;
}

.css-work-project-project {
  display: flex;
  color: var(--base-color-black-primary);
}

.css-work-project-tag {
  display: flex;
  justify-content: center;
}
